// Normalize Styles
@import 'node_modules/normalize.css/normalize';

// Import Modules
@import '../_modules/link/link';

body {
  background-color: #d7dcc6;
}
.main-title {
  background-color: #260D14;
  padding: 15px;
  color: #fff;
}
.main-title h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  font-family: 'Fredoka One', sans-serif;
}
.main-intro {
  background-color: #40161D;
  padding: 15px;
  color: #fff;
  text-align: center;
  font-weight: lighter;
}
.list-view {
  list-style: none;
  padding: 0;
}
.list-view-item {
  border-bottom: 1px solid #ddd;
}
.list-view-item a {
  padding: 15px;
  display: block;
  color: #000;
  background-color: white;
}
.list-view-item a:hover {
  background-color: #eee;
  text-decoration: none;
}
.list-view-item a .cuisine {
    margin-bottom: 0;
}
.list-view-item a .rest {
  font-size: 18px;
  font-weight: bold;
}
