// Node Modules
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome.scss";

body {
  background-color: #d7dcc6;
}
.main-title {
  padding: 15px;

  color: #fff;
  background-color: #260D14;
}
.main-title h1 {
  margin: 0;

  font-family: 'Fredoka One', sans-serif;
  font-size: 22px;

  text-align: center;
  text-transform: uppercase;
}
.main-intro {
  padding: 15px;

  font-weight: lighter;

  text-align: center;

  color: #fff;
  background-color: #40161D;
}
.list-view {
  padding: 0;

  list-style: none;
}
.list-view-item {
  border-bottom: 1px solid #ddd;
}
.list-view-item a {
  display: block;
  padding: 15px;

  color: #000;
  background-color: white;
}
.list-view-item a:hover {
  text-decoration: none;

  background-color: #eee;
}
.list-view-item a .cuisine {
  margin-bottom: 0;
}
.list-view-item a .rest {
  font-size: 18px;
  font-weight: bold;
}
